<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1>Дорогая Диана,<br>ты хочешь сходить со мной на свидание?</h1>

    <div class="buttons">
        <a class="btn yes" href="/page2">Да!</a>

        <button class="btn no">
            <span class="text">Нет</span>
            <span class="heart">💖</span>
        </button>
    </div>

</div>

</body>
</html>